@import "../../styles/vars.module.scss";

.textScreen {
  padding: .5rem;
  width: 100%;
  height: 300px;

  overflow-y: scroll ;
  border: 1px solid var(--border-color);
}

@media (max-width: var(--screen-lagre)) {
  .textScreen {
    height: unset;
  }
}